:root{
    --dark:#0000FF;
    --light: #00D8FF;
    --main:white;
    --darktext:black;
}

body{
    background-color: var(--main);
    color: var(--darktext);
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.nostyle{
    color: black;
    text-decoration: none;
}

.nostyle:hover{
    color: black;
    text-decoration: none;
}
.test{
    border: 1px solid black;
}

.highlightv1{
    color: var(--dark);
}
.highlightv2{
    color: var(--light);
}

.anchor{
    position: relative;
    overflow-x: hidden;
}

.navbar{
    position: absolute;
    right: 0;  
    z-index: 1;
}

.nav{
  
    transform: translateX( calc(100% - 100px));
    transition: 0.5s;
}

.navitem{
    cursor: pointer;
    transition: 0.5s;
}

.navitem:hover{
    background-color: var(--light);
    transition: 0.5s;
}

.navitemactive{
    background-color: var(--light);
}

.navsection{
    min-height: 100vh;
}

.navicon{

    width: 50px;
    height: auto;
    transition: 0.5s;
    cursor: pointer;
}

.navicon:hover{
    transform: rotate(180deg) scale(1.1);
    transition: 0.5s;
}

.nav:hover{ 
    transform: translateX( 0%);
    transition: 0.5s;
}

.navscreen{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--dark);
    z-index: 1;
    color: white;
}

.fancysidebar1{
    position: absolute;
    top: 0;
    bottom: 0;
    left:6%;
    width: 25px;
    background-color: var(--dark);
   z-index: -1;
}

.headerlogo{
    width: 40%;
    height: auto;
}

.secondbg{
    background-color: var(--dark);
    color: white;
}


.section{
    min-height: calc(100vh - 50px);
    box-sizing: border-box;
}

.headerstyle{
    background-color:var(--main);
}

.contentshadow{
    box-shadow: 10px 10px var(--dark);
}

.contentshadowalt{
    box-shadow: 10px 10px var(--main);
}

.contentshadowfancy1{
    box-shadow: 10px 10px #02558b;
}
.contentshadowfancy2{
    box-shadow: 10px 10px #48783e;
}
.contentshadowfancy3{
    box-shadow: 10px 10px #8f1838;
}
.contentshadowfancy4{
    box-shadow: 10px 10px #e01487;
}


.buttonstyle1{
    background-color: var(--light);
    color: white;
    border: none;
    font-weight: bold;
    transition: 0.5s;
}

.buttonstyle1:hover{
    transform: translateY(-5px);
    box-shadow: 10px 10px var(--dark);
    transition: 0.5s;
}

.icon{
    height: 40px;
    width: auto;
    transition: 0.5s;
}

.icon:hover{

    transform: translateY(-5px) scale(1.1);
    box-shadow: 10px 10px var(--dark);
    transition: 0.5s;
    
}

.standardimage{
    width: 100%;
    height: auto;
}

.specialhighlight{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}
.specialhighlight:hover{
    transition: 0.5s;
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

.hideori{
    opacity: 0;
    }
    
    .hidetillscroll{
        opacity: 0;
        }
    
    .fadefromright{
        animation: 1s ease-in-out 0s 1 forwards slideInFromRight;;
    }
    .fadefromleft1{
        animation: 1s ease-in-out 0s 1 forwards slideInFromLeft;
    }
    .fadefromleft2{
        animation: 1s ease-in-out 0.2s 1 forwards slideInFromLeft;
    }
    .fadefromleft3{
        animation: 1s ease-in-out 0.4s 1 forwards slideInFromLeft;
    }
    .fadefromleft4{
        animation: 1s ease-in-out 0.6s 1 forwards slideInFromLeft;
    }
    .fadefromtop1{
        animation: 1s ease-in-out 0s 1 forwards slideInFromTop;
    }
    .fadefromtop2{
        animation: 1s ease-in-out 0.2s 1 forwards slideInFromTop;
    }
    .fadefromtop3{
        animation: 1s ease-in-out 0.4s 1 forwards slideInFromTop;
    }
    .fadefromtop4{
        animation: 1s ease-in-out 0.6s 1 forwards slideInFromTop;
    }
    .fadein{
        animation: 1s ease-in-out 0s 1 forwards FadeIn;
    }
    .fadein2{
        animation: 1s ease-in-out 0.2s 1 forwards FadeIn;
    }
    .fadein3{
        animation: 1s ease-in-out 0.4s 1 forwards FadeIn;
    }
    .fadein4{
        animation: 1s ease-in-out 0.6s 1 forwards FadeIn;
    }
    .fadeout{
        animation: 1s ease-in-out 0s 1 forwards FadeOut;
    }
    .fadetoright{
        animation: 1s ease-in-out 0s 1 forwards SlidetoRight;
    }
    
    @keyframes slideInFromLeft {
        0% {
          opacity: 0;
          transform: translateX(-100%);
        }
        100% {
        opacity: 1;
          transform: translateX(0);
        }
      }
      @keyframes slideInFromRight {
        0% {
          opacity: 0;
          transform: translateX(100%);
        }
        100% {
        opacity: 1;
          transform: translateX(0);
        }
      }


      @keyframes SlidetoRight {
        0% {
          opacity: 1;
          transform: translateX(0);
        }
        100% {
        opacity: 0;
          transform: translateX(100%);
        }
      }
    
      @keyframes slideInFromTop {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    
      @keyframes FadeIn {
        0% {
            opacity: 0;
    
        }
        100% {
          opacity: 1;
    
        }
      }
      @keyframes FadeOut {
        0% {
            opacity: 1;
    
        }
        100% {
          opacity: 0;
    
        }
      }

      @