<div class="row p-0 m-0 justify-content-center align-content-center section  pt-5 pb-5 anchor">
    <div class="col-12 col-lg-5 d-flex align-items-center hideori fadefromleft2">
        <div class="row p-0 m-0 justify-content-start justify-content-lg-center align-content-center">
            <div class="col-12 headerstyle pt-4 pb-4">
                <h5>About</h5>
                <h1 class="highlightv1">Virtual MRANTI World Engineering Day 2022</h1>
                <h5>Engineering For Impact</h5>
            </div>
        </div>
    </div>
    <div class="col-3 col-sm-2 d-lg-none"></div>
    <div class=" col-8 col-lg-6 mt-4 mt-lg-0">

        <div class="row p-0 hideori fadein3">
            <div class="col-12">
                <p> World Engineering Day is a global celebration of engineering and the contributions of
                    engineers for
                    a better sustainable world.
                    <br><br>
                    In conjunction with World Engineering Day, Virtual MRANTI World Engineering Day 2022 -
                    Engineering
                    for
                    Impact is jointly organised by Institution of Engineers, Malaysia
                    (IEM) and STEM4ALL Makerspace, MRANTI to be a platform to spark action and build next-gen
                    innovators in harnessing the power of engineering to meet Sustainable Development Goals
                    (SDGs) and
                    solve global pressing issues.
                    <br><br>
                    Be part of in-depth discussions on various topics of impactful engineering, witness the
                    battle of
                    pitches from our most innovative minds, and prototype your ideas physically at our pop-up
                    Makerspace
                    now.
                </p>
            </div>
        </div>

        <div class="row p-0 justify-content-start align-content-center mt-4">

            <div class="col-12 col-md-3 p-2 hideori fadefromtop2">
                <div class="row p-0">
                    <div class="col-12">
                        <p>Organised by:</p>
                    </div>
                    <div class="col-12">
                        <a href="https://mranti.my/" class="nostyle" target="blank">
                            <img src="asset\img\logo\meranti.png" class="icon" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 col-xxl-3 p-2 mt-4 mt-md-0 hideori fadefromtop3">
                <div class="row p-0">
                    <div class="col-12">
                        <p>In conjunction with:</p>
                    </div>
                    <div class="col-12">
                        <a  class="nostyle" target="blank">
                            <img src="asset\img\logo\WED.png" class="icon" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-5 col-xxl-6 p-2 mt-4 mt-md-0 hideori fadefromtop4">
                <div class="row p-0">
                    <div class="col-12">
                        <p>In partnership with:</p>
                    </div>
                    <div class="col-12">
                        <a  class="nostyle" target="blank">
                            <img src="asset\img\logo\IEM.png" class="icon" alt="">
                        </a>
                        <a  class="nostyle" target="blank">
                            <img src="asset\img\logo\stem4all.png" class="ms-3 icon" alt="">
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="fancysidebar1"></div>
</div>