<div class="row p-0 m-0 justify-content-center align-content-center section  pt-5 pb-5 anchor">
    <div class="col-12 col-lg-5 d-flex align-items-start hideori fadefromleft2">
        <div class="row p-0 m-0 justify-content-start justify-content-lg-center align-content-center">
            <div class="col-12 headerstyle pt-4 pb-4">
                <h5>MRANTI World Engineering Day 2022</h5>
                <h1 class="highlightv1">Engineering Challenge</h1>
                <h5>Come join, engineer and win!</h5>
                <a href="https://www.eventbrite.sg/e/mranti-world-engineering-day-engineering-for-impact-tickets-266898399297"
                    class="nostyle hideori fadefromtop4" target="blank">
                    <button class="m-1 buttonstyle1 p-2 pe-4 ps-4">Register</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col-3 col-sm-2 d-lg-none"></div>
    <div class=" col-8 col-lg-6 mt-4 mt-lg-0">
        <div class="row p-0 justify-content-start align-content-center">
            <div class="col-12 col-md-10  mt-4   hideori fadefromleft3">
                <img src="asset\img\Poster\EC1.jpg" class="standardimage contentshadowfancy1" alt="">
            </div>
            <div class="col-12 col-md-10  mt-4  hideori fadefromleft4">
                <img src="asset\img\Poster\EC2.jpg" class="standardimage contentshadowfancy1" alt="">
            </div>

        </div>
    </div>
    <div class="fancysidebar1"></div>
</div>