<div class="row p-0 m-0 justify-content-center align-content-center section  pt-5 pb-5 anchor">
    <div class="col-12 col-md-5 d-flex align-items-center">
        <div class="row p-0 m-0 justify-content-start justify-content-md-center align-content-center ">
            <div class="col-12 headerstyle pt-4 pb-4 hideori fadefromleft2">
                <img src="asset\img\logo\meranti.png" class="headerlogo" alt="">
                <h5 class="mt-4">Virtual MRANTI World Engineering Day 2022</h5>
                <h1 class="highlightv1">Engineering For Impact</h1>
                <h5> 4th - 5th March</h5>
            </div>
            <div class="col-2 col-md-2 col-xl-1"></div>
            <div class="col-9 text-start p-0">
                <a href="#about" class="nostyle hideori fadefromtop2">
                    <button class="m-1 buttonstyle1 p-2 pe-4 ps-4">About</button>
                </a>
                <a href="#schedule" class="nostyle hideori fadefromtop3">
                    <button class="m-1 buttonstyle1 p-2 pe-4 ps-4">Schedule</button>
                </a>
                <a href="#engineeringweek" class="nostyle hideori fadefromtop4">
                    <button class="m-1 buttonstyle1 p-2 pe-4 ps-4">Competition</button>
                </a>
                <a href="#joinus" class="nostyle hideori fadefromtop4">
                    <button class="m-1 buttonstyle1 p-2 pe-4 ps-4">Watch</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col-2 d-md-none"></div>
    <div class=" col-9 col-md-6 mt-4 mt-md-0" style="padding-top: 30%; position: relative; min-height: 200px;">
        <iframe width="100%" height="100%" class="contentshadow hideori fadefromtop4"
            style="position: absolute;top: 0; left: 0;   bottom: 0;right: 0;"
            src="https://www.youtube.com/embed/PbsP6_VneYI" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="fancysidebar1"></div>
</div>