<div class="row p-0 m-0 justify-content-center align-content-center section  pt-5 pb-5 anchor">
    <div class="col-12 col-lg-5 d-flex align-items-center hideori fadefromleft2">
        <div class="row p-0 m-0 justify-content-start justify-content-lg-center align-content-center">
            <div class="col-12 headerstyle pt-4 pb-4">
                <h1 class="highlightv1">Live Stage</h1>
                <h5>Join the World Engineering Day 2022 virtually here by watching the livestream below at the
                    <a href="#schedule" class="highlightv1">designated time.</a>
                </h5>
            </div>
        </div>
    </div>
    <div class=" d-none d-lg-block col-8 col-lg-6 mt-4 mt-lg-0"></div>
    <div class="col-sm-6 col-10  p-0 mt-4 hideori fadefromtop3">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/LzBEHp2gFt8" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <div class="col-sm-3 col-10  mt-4 p-0 hideori fadefromtop4">
        <iframe width="100%" height="600"
            src="https://www.youtube.com/live_chat?v=LzBEHp2gFt8&amp;embed_domain=www.worldengineeringday.my"></iframe>
    </div>


    <div class="col-12 mt-5 mb-5"></div>

    <div class="col-12 col-lg-5 d-flex align-items-start hideori fadefromleft2">
        <div class="row p-0 m-0 justify-content-start justify-content-lg-center align-content-center">
            <div class="col-12 headerstyle pt-4 pb-4">
                <h5>Virtual MRANTI World Engineering Day 2022</h5>
                <h1 class="highlightv1">Schedule</h1>
                <h5>Whats happening, where and when.</h5>
            </div>
        </div>
    </div>
    <div class="col-3 col-sm-2 d-lg-none"></div>
    <div class=" col-8 col-lg-6 mt-4 mt-lg-0">
        <div class="row p-0 justify-content-start align-content-center">

            <div class="col-12 contentshadowfancy1 d-flex align-items-center mt-5 hideori fadefromleft4">
                <div>
                    <h5>0900 - 1220 | 4th Mar</h5>
                    <h4 class="highlightv1">WED Forum by MRANTI - Morning Session</h4>
                    <p>A virtual empowering dialogue on various topics of how we can engineer a better future whereby
                        the world is more sustainable, resilient, and equitable for all people. Technology and
                        innovation are central to modern life and sustainable development. It’s time to engineer for
                        impact!</p>
                </div>
            </div>
            <div class="col-12 contentshadowfancy1 d-flex align-items-center mt-5 hideori fadefromleft4">
                <div>
                    <h5>1500 - 1530 | 4th Mar</h5>
                    <h4 class="highlightv1">WED Forum by MRANTI - Closing Keynote</h4>
                    <p>A virtual empowering dialogue on various topics of how we can engineer a better future whereby
                        the world is more sustainable, resilient, and equitable for all people. Technology and
                        innovation are central to modern life and sustainable development. It’s time to engineer for
                        impact!</p>
                </div>
            </div>

            <div class="col-12 contentshadowfancy1 d-flex align-items-center mt-5 hideori fadefromleft4">
                <div>
                    <h5>1530 - 1550 | 4th Mar</h5>
                    <h4 class="highlightv1">WED Engineering Challenge 1 - Intro</h4>
                    <p>Witness next-gen engineers pitching their innovations for a better future contributing to the UN
                        Sustainable Development Goals. Whether it’s about clean water accessibility, sustainable cities
                        or even natural disaster resilient cities, we are talking about Engineering for a Purpose. Watch
                        the top pitches live and be inspired by our aspiring engineers of the future!</p>
                </div>
            </div>

            <div class="col-12 contentshadowfancy1 d-flex align-items-center mt-5 hideori fadefromleft4">
                <div>
                    <h5>1600 - 1800 | 4th Mar</h5>
                    <h4 class="highlightv1">WED Engineering Challenge 1 - Pitching and Award</h4>
                    <p>Witness next-gen engineers pitching their innovations for a better future contributing to the UN
                        Sustainable Development Goals. Whether it’s about clean water accessibility, sustainable cities
                        or even natural disaster resilient cities, we are talking about Engineering for a Purpose. Watch
                        the top pitches live and be inspired by our aspiring engineers of the future!</p>
                </div>
            </div>

            <div class="col-12 contentshadowfancy1 d-flex align-items-center mt-5 hideori fadefromleft3">
                <div>
                    <h5>0900 - 1400 | 5th Mar</h5>
                    <h4 class="highlightv1">Engineering for Impact Pocket Talk</h4>
                    <p>Immersive and imaginative. Nothing sparks curiosity, interest and inspiration like our Pocket
                        Talks that showcases technologies through virtual explorations and your pathway to be the
                        next-generation engineers & innovators. They say it best — If you want to change the world, be
                        an Engineer. MRANTI is now extending this one-of-a-kind engineering experience from the comforts
                        of your home!</p>
                </div>
            </div>

            <div class="col-12 contentshadowfancy1 d-flex align-items-center mt-5 hideori fadefromleft4">
                <div>
                    <h5>1400 - 1800 | 5th Mar</h5>
                    <h4 class="highlightv1">WED Engineering Challenge 2</h4>
                    <p>Witness next-gen engineers pitching their innovations for a better future contributing to the UN
                        Sustainable Development Goals. Whether it’s about clean water accessibility, sustainable cities
                        or even natural disaster resilient cities, we are talking about Engineering for a Purpose. Watch
                        the top pitches live and be inspired by our aspiring engineers of the future!</p>
                </div>
            </div>

        </div>
    </div>
    <div class="fancysidebar1"></div>
</div>