<div class="row p-0 m-0 justify-content-center align-content-center section  pt-5 pb-5 anchor">
    <div class="col-12 col-lg-5 d-flex align-items-center hideori fadefromleft2">
        <div class="row p-0 m-0 justify-content-start justify-content-lg-center align-content-center">
            <div class="col-12 headerstyle pt-4 pb-4">
                <h1 class="highlightv1">Live Stage</h1>
                <h5>Join the World Engineering Day 2022 virtually here by watching the livestream below at the
                    <a href="#schedule" class="highlightv1">designated time.</a>
                </h5>
            </div>
        </div>
    </div>
    <div class=" d-none d-lg-block col-8 col-lg-6 mt-4 mt-lg-0"></div>
    <div class="col-sm-6 col-10  p-0 mt-4 hideori fadefromtop3">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/d62Pk4yA_8M"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <div class="col-sm-3 col-10  mt-4 p-0 hideori fadefromtop4">
        <iframe width="100%" height="600"
            src="https://www.youtube.com/live_chat?v=d62Pk4yA_8M&amp;embed_domain=www.worldengineeringday.my"></iframe>
    </div>


    <div class="col-12 mt-5 mb-5"></div>

    <div class="col-12 col-lg-5 d-flex align-items-start hideori fadefromleft2">
        <div class="row p-0 m-0 justify-content-start justify-content-lg-center align-content-center">
            <div class="col-12 headerstyle pt-4 pb-4">
                <h5>Virtual MRANTI World Engineering Day 2022</h5>
                <h1 class="highlightv1">Schedule</h1>
                <h5>Whats happening, where and when.</h5>
            </div>
        </div>
    </div>
    <div class="col-3 col-sm-2 d-lg-none"></div>
    <div class=" col-8 col-lg-6 mt-4 mt-lg-0">
        <div class="row p-0 justify-content-start align-content-center">

            <div class="col-12 contentshadowfancy1 d-flex align-items-center mt-5 hideori fadefromleft4">
                <div>
                    <h5>0900 - 1220 | 4th Mar</h5>
                    <h4 class="highlightv1">World Engineering Day 2022 Forum and Quizes</h4>
                    <p>Suitable for Students, Teachers and Parents</p>
                </div>
            </div>
            <div class="col-12 contentshadowfancy1 d-flex align-items-center mt-5 hideori fadefromleft2">
                <div>
                    <h5>1500 - 1730 | 4th Mar</h5>
                    <h4 class="highlightv1">World Engineering Day 2022 Forum and Panel Discussion</h4>
                    <p>An introduction into Biomimicry, followed by the pitching session for the Biomimicry
                        Engineering Challenge, closed off with the announcement of winners and prize giving. For
                        the contestants of the Biomimicry Challenge</p>
                </div>
            </div>

            <div class="col-12 contentshadowfancy1 d-flex align-items-center mt-5 hideori fadefromleft3">
                <div>
                    <h5>0900 - 1230 | 5th Mar</h5>
                    <h4 class="highlightv1">Pocket Talk</h4>
                    <p>Technology Sharing and Career Paths by industry experts, followed by a virtual tour and
                        some quizzes. Suitable for students, teachers and parents.</p>
                </div>
            </div>

            <div class="col-12 contentshadowfancy1 d-flex align-items-center mt-5 hideori fadefromleft4">
                <div>
                    <h5>1430 - 1800 | 5th Mar</h5>
                    <h4 class="highlightv1">World Engineering Day 2022 Forum and Panel Discussion 2</h4>
                    <p>The pitching session for the Paper Geodesic Dome Engineering Challenge, followed by a
                        preview of MRANTI Makerspace & Programs, closed off with the announcement of winners and
                        prize giving. Suitable for parents, teachers and students.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="fancysidebar1"></div>
</div>