<div class="row p-0 m-0 justify-content-center align-content-center section  pt-5 pb-5 anchor">
    <div class="col-12 col-lg-5 d-flex align-items-center hideori fadefromleft2 ">
        <div class="row p-0 m-0 justify-content-start justify-content-lg-center align-content-center">
            <div class="col-12 headerstyle pt-4 pb-4">
                <h5>About</h5>
                <h1 class="highlightv1">MRANTI</h1>
                <h5>Malaysian Research Accelerator for Technology and Innovation</h5>
            </div>
        </div>
    </div>
    <div class="col-3 col-sm-2 d-lg-none"></div>
    <div class=" col-8 col-lg-6 mt-4 mt-lg-0">

        <div class="row p-0 hideori fadein3">
            <div class="col-12">
                <p> Malaysian Research Accelerator for Technology and Innovation (MRANTI) was announced in
                    November 2021 following the merger of two agencies under MOSTI, Technology Park Malaysia and
                    Malaysian Global Innovation and Creativity Centre (MaGIC) in line with the country's
                    technology commercialization catalyst agenda in driving Malaysia's economic growth through
                    science, technology and innovation (STI-E).
                    <br><br>
                    Its primary focus will be to accelerate commercialisation of technology by nurturing strong
                    partnerships and strategic collaborations between the industries and academia, which will in
                    turn bridge the gap to bring about impactful research through patented inventions, and
                    ready-to-use technologies.
                    <br><br>
                    MRANTI builds a thriving global community by accelerating the commercialisation of
                    innovative research ideas to impact. It connects problem statements (demand) with solutions
                    (supply), bridging collaboration between public and private sectors, and increasing private
                    sector participation, either through market access, investment, advisory or consultation and
                    provision of infrastructure and facilities for testing and prototyping.
                    <br><br>
                    MRANTI aims to better position Malaysia to increase commercialisation rate, gross domestic
                    expenditures on R&D (GERD), R&D spend by the private sector and enhance synergy between
                    government agencies. Its Ideas to Impact model will improve national GDP, create more jobs,
                    attract foreign investment, and ensure products and solutions are more affordable, available
                    and accessible.


                </p>
            </div>
        </div>
    </div>
    <div class="fancysidebar1"></div>
</div>